.App{
  background-color: #333;
  position: absolute;
  height: 100%;
  width: 100%;
}
h1{
  text-align: center;
  background-color: rgb(141, 206, 214);
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}
.encuesta{
  background-color: rgb(224, 224, 224);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  padding: 10px;
}
footer{
  background-color: #f1f1f1;
  color: #333;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
h2{
  text-align: center;
}